<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lineedit_history_viewer-search-panel-expression</key>
	<array>
		<string>sex</string>
		<string>thrust</string>
		<string>kiss\</string>
		<string>orgasm</string>
		<string>naked</string>
		<string>moan</string>
		<string>yue yao</string>
		<string>sister</string>
		<string>zhang le</string>
		<string>xia leng</string>
		<string>white liquid</string>
		<string>cum</string>
		<string>jealous</string>
		<string>kiss</string>
		<string>shuddered</string>
		<string>pee</string>
		<string>bedded</string>
		<string>night together</string>
		<string>yao</string>
		<string>lotus</string>
		<string>xu yourong</string>
		<string>rumors</string>
		<string>rumours</string>
		<string>exposed</string>
		<string>nude</string>
		<string>bed</string>
		<string>you rong</string>
		<string>rong</string>
	</array>
</dict>
</plist>
