[Desktop Action new-empty-window]
Exec=/usr/bin/code-oss --new-window %F
Icon=com.visualstudio.code.oss
Name=New Empty Window

[Desktop Entry]
Actions=new-empty-window;
Categories=TextEditor;Development;IDE;
Comment=Code Editing. Redefined.
Exec=/usr/bin/code-oss --unity-launch %F
GenericName=Text Editor
Icon=com.visualstudio.code.oss
Keywords=vscode;
MimeType=text/plain;application/x-code-oss-workspace;
Name=Code - OSS
StartupNotify=false
StartupWMClass=Code
Type=Application
